<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome-pro.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ 'flaticon_shofy.css' | asset_url | stylesheet_tag }}
    {{ 'spacing.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="{{ template }}">
    
    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}


    <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'waypoints.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'bootstrap-bundle.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'meanmenu.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper-bundle.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'range-slider.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'magnific-popup.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'nice-select.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'purecounter.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'wow.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'isotope-pkgd.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'imagesloaded-pkgd.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'ajax-form.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>



  <script>
    var currency;
    window.currency = '{{ cart.currency.symbol }}'
    console.log('currency '+ currency);
  </script>
  </body>
</html>
